
// Colors________________________

// Primary
$primary_dark_gray: #1f2428;
$primary_green: #c8de37;
$primary_white: #ffffff;

// Secondary
$secondary_green_300: #e3ef9b;
$secondary_green_200: #f3fbc5;
$secondary_green_100: #fafde9;

// Hover
$hover_green: #adc220;
$hover_dark_gray: #545658;

// System
$system_red_500: #de2f21;
$system_red_300: #ffccc8;
$system_blue_300: #d9e3ff;
$system_yellow_300: #fdde6f;

// Gray
$gray_1000: #000000;
$gray_500: #272829;
$gray_400: #54585c;
$gray_300: #787a7c;
$gray_200: #ababab;
$gray_100: #dadada;
$gray_50: #f1f1f1;
$gray_30: #fbfbfb;

// Background
$Bg_modal_dark: rgba(31, 36, 40, 0.6);


// Height
$footer_height: 80px;
$header_height: 60px;
